# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

3rdparty/asio-1.10.6/
3rdparty/asio/
3rdparty/kcp/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
samples/CMakeFiles/
samples/Makefile
samples/cmake_install.cmake
samples/connection_riented/CMakeFiles/
samples/connection_riented/Makefile
samples/connection_riented/cmake_install.cmake
samples/connection_riented/connection_riented_client
samples/connection_riented/connection_riented_server
samples/delay_test/CMakeFiles/
samples/delay_test/Makefile
samples/delay_test/cmake_install.cmake
samples/delay_test/delay_test_client
samples/delay_test/delay_test_server
samples/file_trans/CMakeFiles/
samples/file_trans/Makefile
samples/file_trans/cmake_install.cmake
samples/file_trans/file_trans_client
samples/file_trans/file_trans_server
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/tests/CMakeFiles/
src/tests/Makefile
src/tests/alltest
src/tests/cmake_install.cmake
